body{
    background-color: #000000;
}

label {
    color: #f5f5f5;
}

#logo img{
    height: auto;
    width: 100%;
}

img{
    height: 200px;
    width: auto;
    margin-bottom: 25px;
}

.menu li{
    background-color: #000000;
}

.menu li a{
    color: #f5f5f5;
}

.menu li a:hover{
    color: #c9302c;
    font-weight: 800;
}

h1 {
    color: #f5f5f5;
    font-size: 30px;
}